<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chad.eduservice.mapper.VideoMapper">
  <resultMap id="BaseResultMap" type="com.chad.eduservice.model.Video">
    <!--@mbg.generated-->
    <!--@Table guli_edu.edu_video-->
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="course_id" jdbcType="CHAR" property="course_id" />
    <result column="chapter_id" jdbcType="CHAR" property="chapter_id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="video_source_id" jdbcType="VARCHAR" property="video_source_id" />
    <result column="video_original_name" jdbcType="VARCHAR" property="video_original_name" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="play_count" jdbcType="BIGINT" property="play_count" />
    <result column="is_free" jdbcType="BOOLEAN" property="is_free" />
    <result column="duration" jdbcType="FLOAT" property="duration" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="size" jdbcType="BIGINT" property="size" />
    <result column="version" jdbcType="BIGINT" property="version" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmt_create" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmt_modified" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, course_id, chapter_id, title, video_source_id, video_original_name, sort, play_count, 
    is_free, duration, `status`, `size`, version, gmt_create, gmt_modified
  </sql>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update guli_edu.edu_video
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="course_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=CHAR} then #{item.course_id,jdbcType=CHAR}
        </foreach>
      </trim>
      <trim prefix="chapter_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=CHAR} then #{item.chapter_id,jdbcType=CHAR}
        </foreach>
      </trim>
      <trim prefix="title = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=CHAR} then #{item.title,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="video_source_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=CHAR} then #{item.video_source_id,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="video_original_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=CHAR} then #{item.video_original_name,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="sort = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=CHAR} then #{item.sort,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="play_count = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=CHAR} then #{item.play_count,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="is_free = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=CHAR} then #{item.is_free,jdbcType=BOOLEAN}
        </foreach>
      </trim>
      <trim prefix="duration = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=CHAR} then #{item.duration,jdbcType=FLOAT}
        </foreach>
      </trim>
      <trim prefix="`status` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=CHAR} then #{item.status,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="`size` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=CHAR} then #{item.size,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="version = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=CHAR} then #{item.version,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="gmt_create = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=CHAR} then #{item.gmt_create,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="gmt_modified = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=CHAR} then #{item.gmt_modified,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=CHAR}
    </foreach>
  </update>
  <update id="updateBatchSelective" parameterType="java.util.List">
    <!--@mbg.generated-->
    update guli_edu.edu_video
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="course_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.course_id != null">
            when id = #{item.id,jdbcType=CHAR} then #{item.course_id,jdbcType=CHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="chapter_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.chapter_id != null">
            when id = #{item.id,jdbcType=CHAR} then #{item.chapter_id,jdbcType=CHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="title = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.title != null">
            when id = #{item.id,jdbcType=CHAR} then #{item.title,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="video_source_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.video_source_id != null">
            when id = #{item.id,jdbcType=CHAR} then #{item.video_source_id,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="video_original_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.video_original_name != null">
            when id = #{item.id,jdbcType=CHAR} then #{item.video_original_name,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="sort = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.sort != null">
            when id = #{item.id,jdbcType=CHAR} then #{item.sort,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="play_count = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.play_count != null">
            when id = #{item.id,jdbcType=CHAR} then #{item.play_count,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="is_free = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.is_free != null">
            when id = #{item.id,jdbcType=CHAR} then #{item.is_free,jdbcType=BOOLEAN}
          </if>
        </foreach>
      </trim>
      <trim prefix="duration = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.duration != null">
            when id = #{item.id,jdbcType=CHAR} then #{item.duration,jdbcType=FLOAT}
          </if>
        </foreach>
      </trim>
      <trim prefix="`status` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.status != null">
            when id = #{item.id,jdbcType=CHAR} then #{item.status,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="`size` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.size != null">
            when id = #{item.id,jdbcType=CHAR} then #{item.size,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="version = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.version != null">
            when id = #{item.id,jdbcType=CHAR} then #{item.version,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="gmt_create = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.gmt_create != null">
            when id = #{item.id,jdbcType=CHAR} then #{item.gmt_create,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="gmt_modified = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.gmt_modified != null">
            when id = #{item.id,jdbcType=CHAR} then #{item.gmt_modified,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=CHAR}
    </foreach>
  </update>
  <insert id="batchInsert" parameterType="map">
    <!--@mbg.generated-->
    insert into guli_edu.edu_video
    (id, course_id, chapter_id, title, video_source_id, video_original_name, sort, play_count, 
      is_free, duration, `status`, `size`, version, gmt_create, gmt_modified)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.id,jdbcType=CHAR}, #{item.course_id,jdbcType=CHAR}, #{item.chapter_id,jdbcType=CHAR}, 
        #{item.title,jdbcType=VARCHAR}, #{item.video_source_id,jdbcType=VARCHAR}, #{item.video_original_name,jdbcType=VARCHAR}, 
        #{item.sort,jdbcType=INTEGER}, #{item.play_count,jdbcType=BIGINT}, #{item.is_free,jdbcType=BOOLEAN}, 
        #{item.duration,jdbcType=FLOAT}, #{item.status,jdbcType=VARCHAR}, #{item.size,jdbcType=BIGINT}, 
        #{item.version,jdbcType=BIGINT}, #{item.gmt_create,jdbcType=TIMESTAMP}, #{item.gmt_modified,jdbcType=TIMESTAMP}
        )
    </foreach>
  </insert>
  <insert id="insertOrUpdate" parameterType="com.chad.eduservice.model.Video">
    <!--@mbg.generated-->
    insert into guli_edu.edu_video
    (id, course_id, chapter_id, title, video_source_id, video_original_name, sort, play_count, 
      is_free, duration, `status`, `size`, version, gmt_create, gmt_modified)
    values
    (#{id,jdbcType=CHAR}, #{course_id,jdbcType=CHAR}, #{chapter_id,jdbcType=CHAR}, #{title,jdbcType=VARCHAR}, 
      #{video_source_id,jdbcType=VARCHAR}, #{video_original_name,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, 
      #{play_count,jdbcType=BIGINT}, #{is_free,jdbcType=BOOLEAN}, #{duration,jdbcType=FLOAT}, 
      #{status,jdbcType=VARCHAR}, #{size,jdbcType=BIGINT}, #{version,jdbcType=BIGINT}, 
      #{gmt_create,jdbcType=TIMESTAMP}, #{gmt_modified,jdbcType=TIMESTAMP})
    on duplicate key update 
    id = #{id,jdbcType=CHAR}, 
    course_id = #{course_id,jdbcType=CHAR}, 
    chapter_id = #{chapter_id,jdbcType=CHAR}, 
    title = #{title,jdbcType=VARCHAR}, 
    video_source_id = #{video_source_id,jdbcType=VARCHAR}, 
    video_original_name = #{video_original_name,jdbcType=VARCHAR}, 
    sort = #{sort,jdbcType=INTEGER}, 
    play_count = #{play_count,jdbcType=BIGINT}, 
    is_free = #{is_free,jdbcType=BOOLEAN}, 
    duration = #{duration,jdbcType=FLOAT}, 
    `status` = #{status,jdbcType=VARCHAR}, 
    `size` = #{size,jdbcType=BIGINT}, 
    version = #{version,jdbcType=BIGINT}, 
    gmt_create = #{gmt_create,jdbcType=TIMESTAMP}, 
    gmt_modified = #{gmt_modified,jdbcType=TIMESTAMP}
  </insert>
  <insert id="insertOrUpdateSelective" parameterType="com.chad.eduservice.model.Video">
    <!--@mbg.generated-->
    insert into guli_edu.edu_video
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="course_id != null">
        course_id,
      </if>
      <if test="chapter_id != null">
        chapter_id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="video_source_id != null">
        video_source_id,
      </if>
      <if test="video_original_name != null">
        video_original_name,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="play_count != null">
        play_count,
      </if>
      <if test="is_free != null">
        is_free,
      </if>
      <if test="duration != null">
        duration,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="size != null">
        `size`,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="gmt_create != null">
        gmt_create,
      </if>
      <if test="gmt_modified != null">
        gmt_modified,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=CHAR},
      </if>
      <if test="course_id != null">
        #{course_id,jdbcType=CHAR},
      </if>
      <if test="chapter_id != null">
        #{chapter_id,jdbcType=CHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="video_source_id != null">
        #{video_source_id,jdbcType=VARCHAR},
      </if>
      <if test="video_original_name != null">
        #{video_original_name,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="play_count != null">
        #{play_count,jdbcType=BIGINT},
      </if>
      <if test="is_free != null">
        #{is_free,jdbcType=BOOLEAN},
      </if>
      <if test="duration != null">
        #{duration,jdbcType=FLOAT},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="size != null">
        #{size,jdbcType=BIGINT},
      </if>
      <if test="version != null">
        #{version,jdbcType=BIGINT},
      </if>
      <if test="gmt_create != null">
        #{gmt_create,jdbcType=TIMESTAMP},
      </if>
      <if test="gmt_modified != null">
        #{gmt_modified,jdbcType=TIMESTAMP},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=CHAR},
      </if>
      <if test="course_id != null">
        course_id = #{course_id,jdbcType=CHAR},
      </if>
      <if test="chapter_id != null">
        chapter_id = #{chapter_id,jdbcType=CHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="video_source_id != null">
        video_source_id = #{video_source_id,jdbcType=VARCHAR},
      </if>
      <if test="video_original_name != null">
        video_original_name = #{video_original_name,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="play_count != null">
        play_count = #{play_count,jdbcType=BIGINT},
      </if>
      <if test="is_free != null">
        is_free = #{is_free,jdbcType=BOOLEAN},
      </if>
      <if test="duration != null">
        duration = #{duration,jdbcType=FLOAT},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=VARCHAR},
      </if>
      <if test="size != null">
        `size` = #{size,jdbcType=BIGINT},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=BIGINT},
      </if>
      <if test="gmt_create != null">
        gmt_create = #{gmt_create,jdbcType=TIMESTAMP},
      </if>
      <if test="gmt_modified != null">
        gmt_modified = #{gmt_modified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>